*, *::before, *::after {
	box-sizing: border-box;
}

:root { 
	font-size: 100%;
}

body {
	font: 0.875rem/1.5 var(--font-family-sans);
	color: var(--text-color);
	background: var(--background-color);
}

a:link, a:visited {
	color: var(--link);
}

a:hover, a:active {
	color: var(--link-hover);
	text-decoration: none;
}

img {
	max-width: 100%;
}

table {
	display: block;
	overflow: auto;
	width: 100%;
}

table th {
	text-align: left;
	font-weight: var(--font-strong);
	background-color: var(--gray-100);
}

table td,
table th {
	border: 1px solid var(--gray-200);
	padding: 4px 8px;
}

// table tr:nth-child(2n) {
// background-color: var(--gray-100);
// }

code {
	font-size: 11.5pt;
	word-break: break-word;
	font-family: monospace;
	padding: 2px 5px;
	background-color: var(--gray-100); 
	border-radius: 2px;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: keep-all;
}

pre {
	word-wrap: normal;
	background-color: var(--gray-100);
	border: 1px solid var(--gray-200);
	border-radius: 2px;
	line-height: 1.45;
	overflow: auto;
	padding: 8px 12px;
}

pre > code {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
	word-break: normal;
}

kbd {
	font-family:monospace;
	background-color: var(--white); 
	border: 1px solid var(--gray-400); 
	border-bottom-color: var(--gray-500);
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 var(--gray-500);
	color: var(--black);
	display: inline-block;
	font-size: 11px;
	line-height: 10px;
	padding: 3px 5px 4px 5px;
	vertical-align: middle;
	text-align: center;
	min-width: 1.8em;
	&:not(:last-child) {
		margin-right: .25em;
	}
	@media (prefers-color-scheme: dark) {
		background-color: var(--gray-800); 
		border: 1px solid var(--gray-500); 
		border-bottom-color: var(--gray-400);
		box-shadow: inset 0 -1px 0 var(--gray-400);
	}
}

main.wrapper {
	display: grid;
	grid-gap: 0px;
	grid-template-areas: 
	"header"
	"nav"
	"content"
	"sidebar"
	"ad"
	"footer";
}

@media (min-width: 500px) {
	main.wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-areas:
		"header  header"
		"nav     nav"
		"sidebar content"
		"ad      footer";
	}
}

@media (min-width: 700px) {
	main.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto 
		minmax(0px, max-content)
		auto 
		auto;
		grid-template-areas:
		"header  topnav  darkmode"
		"nav content ad"
		"sidebar content ad"
		"footer  footer  footer";
	}
}

dl {
	display: grid;
	grid-column-gap: 1.125em;
	grid-row-gap: 0;
	grid-template-columns: max-content auto;
}

dt {
	grid-column-start: 1;
}

dd {
	grid-column-start: 2;
}
