<nav class="topnav">
    <div class="topnav__links">
        {{ $currentPage := . }}
        <ul>
            {{ range .Site.Menus.topnav }}
            <li>
                <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="topnav__cat">
        <ul>
            {{ if .Params.categories }}
            {{ if gt (len .Params.categories) 1 }}Categories:{{ else }}Category:{{ end }}
            {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}{{ end }}
            <li>
                <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . | humanize }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
