.main-nav {
    @include padding;
    grid-area: nav;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: var(--gray-100);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    & a:not(:last-child) {
        // margin-right: 0.35em;
    }
}
