#notes {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
    auto;
    grid-template-areas:
    "list latest"
    "list latest";
}

#notes #notes__list {
    grid-area: list;
    @include border-grdient;
}

#notes #notes__latest {
    grid-area: latest;
    & #notes__latest_list {
        & ol {
            @include number-list;
        }
    }
}
